.slider__wrap {
    margin-top: 120px;
    padding: 79px 0px 95px 0px;
    height: 700px;
    box-sizing: border-box;
    background-color: #fff;
}

.slider__inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

.slider {
    position: relative;
}

.slider__arrow a {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 56px;
    background-image: url(../img/slider_icon.svg);
    transform: translateY(-50%);
}

.slider__arrow a.left {
    left: 20px;
}

.slider__arrow a.right {
    background-position: -50px 0px;
    right: 20px;
}

.slider__dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
}

.slider__dot a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -20px -70px;
}

.slider__dot a.active {
    background-position: 0 -70px;
}

.slider__dot a.play {
    background-position: -40px -70px;
}

.slider__dot a.stop {
    background-position: -60px -70px;
}

/* swiper */
.swiper-slide {}

.swiper-slide .ball1 {
    position: absolute;
    left: 10%;
    top: 45%;
    width: 23px;
    height: 23px;
    background-color: #4857EC;
    border-radius: 50%;
}

.swiper-slide .ball2 {
    position: absolute;
    left: 37%;
    top: 0%;
    width: 18px;
    height: 18px;
    background-color: #F7E36D;
    border-radius: 50%;
}

.swiper-slide .ball3 {
    position: absolute;
    left: 45%;
    top: 70px;
    width: 46px;
    height: 46px;
    background-color: #2FEFB1;
    border-radius: 50%;
}

.swiper-slide .ball4 {
    position: absolute;
    left: 47%;
    top: 55%;
    width: 35px;
    height: 35px;
    background-color: #4857EC;
    border-radius: 50%;
}

.swiper-slide .ball5 {
    position: absolute;
    right: 23%;
    top: 75%;
    width: 30px;
    height: 30px;
    background-color: #FF3344;
    border-radius: 50%;
}

.swiper-slide .ball6 {
    position: absolute;
    right: 10%;
    top: 70%;
    width: 30px;
    height: 30px;
    background-color: #2FEFB1;
    border-radius: 50%;
}

.swiper-slide img {
    display: block;
    width: 530px;
    height: 500px;
    position: absolute;
    bottom: 50px;
    right: 270px;
}

.swiper-slide .desc {
    width: 1160px;
    height: 530px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-slide .desc span {
    display: inline-block;
    font-size: 16px;
    background-color: #fff;
    padding: 1px 14px 0px 14px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.swiper-slide .desc h3 {
    font-size: 110px;
    font-weight: bold;
    line-height: 1.06;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.swiper-slide .desc p {
    font-size: 24px;
    font-weight: 500;
    color: #0c0c0c;
    line-height: 1.38;
    margin-bottom: 30px;
}

.swiper-slide .desc .btn a {
    display: inline-block;
    font-size: 16px;
    background-color: #4857EC;
    color: #fff;
    padding: 11px 50px;
    margin-left: 10px;
}

.swiper-button-next {
    background: url('../img/rightArrow.svg') no-repeat center / cover;
}

.swiper-button-prev {
    background: url('../img/leftArrow.svg') no-repeat center / cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 0;
    opacity: 0;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background-image: url(../img/slider_icon.svg) !important;
    background-position: -20px -70px !important;
    background-color: transparent !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-position: 0 -70px !important;
}

.swiper-button {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 24px;
    margin-left: 50px;
    z-index: 1000;
    cursor: pointer;
}

.swiper-button-stop {
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -60px -70px;
    margin: 2px 25px;
}

.swiper-button-play {
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -40px -70px;
    margin: 2px 25px;
}

@media(max-width : 1900px) {
    .swiper-wrapper {width: 96%;}
    .swiper-slide .desc h3 {font-size: 80px;}
    .swiper-slide img {width: 450px; height: 450px; bottom: 110px; right: 150px;}
    .swiper-slide .ball3 {top: 15px;}
}

@media(max-width : 1660px) {
    .swiper-slide .ball1 {display: none;}
}

@media(max-width : 1350px) {
    .swiper-slide .desc {padding-left: 10%;}
    .swiper-slide .desc h3 {font-size: 70px;}
    .swiper-slide img {width: 400px; height: 400px; bottom: 155px; right: 130px;}
}

@media(max-width : 1120px) {
    .swiper-slide img {width: 350px; height: 350px; bottom: 200px; right: 80px;}
}

@media(max-width : 1020px) {
    .swiper-slide img {width: 280px; height: 280px; bottom: 250px; right: 10px;}
}

@media(max-width : 890px) {
    .swiper-slide .desc {padding-left: 20%; width: 96%; }
    .swiper-slide img {display: none;}
    .swiper-slide .desc h3 {font-size: 50px;}
    .swiper-slide .desc p {font-size: 20px;}
    .swiper-slide .ball1 {display: none;}
    .swiper-slide .ball2 {display: none;}
    .swiper-slide .ball3 {display: none;}
    .swiper-slide .ball4 {display: none;}
    .swiper-slide .ball5 {display: none;}
    .swiper-slide .ball6 {display: none;}
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 126px !important;}
    .swiper-button {bottom: 131px;}
}

@media(max-width : 530px) {
    .swiper-slide .desc {padding: 0; text-align: center;}
    .swiper-slide .desc h3 {font-size: 30px; text-align: center;}
    .swiper-slide .desc p {font-size: 16px;}
    .swiper-slide .desc .btn a {font-size: 14px; padding: 15px 20px;}
}

@media(max-width : 340px) {
    .slider__wrap {overflow: hidden;}
    .swiper-slide .desc h3 {font-size: 20px;}
    .swiper-slide .desc p {font-size: 14px;}
}