* {
    margin: 0;
    padding: 0;
    font-size: 16px;    
    line-height: 1.5;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.clearfix::before,
.clearfix::after {
    display: block;
    line-height: 0;
    content: '';
}
.clearfix::after {
    clear: both;
}

/* layout */
#wrap {width: 1000px; margin: 0 auto; margin-top: 40px; height: 1000px;}
#header {position: absolute; width: 1000px; margin: 0 auto; left: 452px;}
#banner {padding: 0px 250px;}
#service {padding: 0px 250px; position: relative; margin-top: 200px;}
#notice {padding: 0px 250px; margin-top: 70px;}
#footer {margin-top: 20px; padding: 0px 250px; width: 100%;}

/* header */
#header h1 {}
#header h1 img {width: 120px; height: 50px; margin-bottom: 50px;}
#header p.title {font-size: 25px; color: #c3d6ff; font-weight: bold;}

#header .menu1 {position: absolute; left: 20px; top: 150px;}
#header .menu1 li {width: 200px; border-bottom: 1px solid #ccc; padding: 5px 0;}
#header .menu1 li a {}

#header .menu2 {position: absolute; left: 0px; top: 350px;}
#header .menu2 li {}
#header .menu2 li a {display: inline-block; font-size: 22px; font-weight: bold; margin-bottom: 10px;}

/* banner */
.slider__img {width: 750px; height: 390px; overflow: hidden;}
.slider__inner {}
.slider {position: relative;}
.slider:nth-child(1)::before {content: '이미지1'; position: absolute; right: 10px; top: 10px; background-color: rgba(0,0,0,0.4); padding: 5px;}
.slider:nth-child(2)::before {content: '이미지2'; position: absolute; right: 10px; top: 10px; background-color: rgba(0,0,0,0.4); padding: 5px;}
.slider:nth-child(3)::before {content: '이미지3'; position: absolute; right: 10px; top: 10px; background-color: rgba(0,0,0,0.4); padding: 5px;}
.slider:nth-child(4)::before {content: '이미지1'; position: absolute; right: 10px; top: 10px; background-color: rgba(0,0,0,0.4); padding: 5px;}
.slider img {width: 750px; height: 390px; display: block;}

/* service */
#service h2 {position: absolute; left: 399px; top: -120px;}
#service h2 a {color: #666; font-size: 30px;}
#service h2 a.active {color: #000;}
#service h2 span {font-size: 30px;}

.sub__cont {display: none;}
.sub__cont.active {display: flex; width: 750px;}
.sub__cont .card {margin-right: 6.25px;}
.sub__cont .card:last-child {margin-right: 0;}
.sub__cont .card figure {}
.sub__cont .card figure img {width: 150px; height: 135px; margin-bottom: 10px; display: block;}
.sub__cont .card figure figcaption {}
.sub__cont .card figure figcaption p {text-align: center; font-weight: bold;}
.sub__cont .card:nth-child(4) figure img {margin-bottom: -10px;}

/* notice */
.notice__inner {display: flex;  width: 750px; background-color: #f7f7f7; padding: 20px;}
.notice__inner .card {background-color: #fff; width: 32%; margin-right: 2%;position: relative;}
.notice__inner .card:last-child {margin-right: 0;}
.notice__inner .card h2 {text-align: center; margin-bottom: 10px; margin-top: 10px; font-size: 25px; font-weight: bold;}
.notice__inner .card img {display: block; margin: 0 auto;}
.notice__inner .card ul {width: 240px; padding: 20px; box-sizing: border-box;}
.notice__inner .card ul li {
    width: 200px; 
    font-size: 14px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.notice__inner .card .plus img {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* footer */
.footer__inner {
    display: flex; justify-content: space-between; align-items: center;
    width: 750px;
    padding: 20px;
    background-color: #edf2f8;
}
.left {display: flex; align-items: center; width: 60%; margin-right: 150px;}
.left img {width: 100px; height: 100px; margin-right: 10px;}
.left ul {}
.left ul li {
    font-size: 14px; 
    font-weight: bold; 
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right {width: 30%;}
.right img{width: 50px; height: 30px; margin-left: -10px;}

/* layer */
.layer__bg {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.layer__bg.show {
    display: flex;
}

.layer {
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.layer .title {
    height: 40px;
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.layer .cont {
    padding: 20px;
}

.layer .close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 20px;
}