.music__wrap {
    width: 450px;
    background: #000;
    position: absolute;
    top: 70px;
    right: 70px;
    padding: 10px;
    padding-top: 0;
    z-index: 300;
}

.music__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.music__header h2 {
    font-size: 20px;
}

.music__contents {
    width: 100%;
    background: #c4c4c4;
}

.music__view {
    display: flex;
    padding: 20px;
}

.music__view .img {
    width: 30%;
}

.music__view .img img {
    width: 100px;
}

.music__view .title {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.music__view .title h3 {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1.2;
}

.music__view .title p {
    color: tomato;
    font-family: IMHyemin;
}

.music__control {
    width: 100%;
    height: 100px;
    padding: 20px;
    padding-top: 0;
    position: relative;
}

.music__control .volume {
    width: 40%;
    height: 13px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    top: -30px;
    right: 20px;
}

.volume__bar {
    width: 100%;
    height: inherit;
    background: #7FFF5B;
    border-radius: 5px;
}

.music__control .volume::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -30px;
    top: -6px;
    background: url('../img/volume.svg') no-repeat center;
}

.music__control .progress {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #000;
}

.music__control .progress .bar {
    width: 0%;
    height: inherit;
    background: #7FFF5B;
    border-radius: 5px;
}

.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}

.music__control .control {
    font-family: IMHyemin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.music__control .control .repeat {
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -120px 0px;
}

.music__control .control .repeat__one {
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -180px 0px;
}

.music__control .control .shuffle {
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -420px 0px;
}

.music__control .control .prev {
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -240px 0px;
}

.music__control .control .next {
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -300px 0px;
}

.music__control .control .play {
    width: 48px;
    height: 48px;
    display: block;
    background: url('../img/music_icon.svg');
    background-position: 0px 0px;
}

.music__control .control .stop {
    width: 48px;
    height: 48px;
    display: block;
    background: url('../img/music_icon.svg');
    background-position: -60px 0px;
}

.music__control .control .list {
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -360px 0px;
}

.music__footer {
    background: #c4c4c4;
}

.music__footer .music__list {
    display: none;
    padding: 20px;
}

.music__footer .music__list.show {
    display: block;
}

.music__footer .music__list h3 {
    margin-bottom: 20px;
    position: relative;
}

.music__footer .music__list h3 a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/close.svg');
    position: absolute;
    right: 5px;
    top: 5px;
}

.music__footer .music__list h3 .list {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('../img/music_icon.svg');
    background-position: -360px 0px;
    vertical-align: -17px;
    margin-right: 10px;
}

/* scroll */
.music__list ul::-webkit-scrollbar {
    width: 15px;
    background-color: #203e3d;
}

.music__list ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #011d3f;
}

.music__list ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #192f73;
}

.music__list ul::-webkit-scrollbar-thumb:hover {
    background: #6f8554;
}

.music__list ul {
    max-height: 400px;
    overflow-y: scroll;
}

.music__list li {
    border-bottom: 1px solid #000;
    list-style: none;
    padding: 5px 0;
    position: relative;
}

.music__list li.playing {
    color: #7FFF5B;
}

.music__list li strong {
    display: block;
    font-size: 20px;
    margin-bottom: 4px;
}

.music__list li em {
    font-style: normal;
}

.music__list li span {
    position: absolute;
    right: 15px;
    top: 10px;
}