/* reset */
:root {
    --htmlColor: #223547;
    --cssColor: #472222;
    --javascriptColor: #224736;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NexonLv1Gothic;
    /* color: var(--htmlColor); */
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--htmlColor);
}

li {
    list-style: none;
}

/* scroll */
.modal__box ::-webkit-scrollbar {
    width: 15px;
    background-color: #203e3d;
}

.modal__box ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #203e3d;
}

.modal__box ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #e2e4e0;
}

.modal__box ::-webkit-scrollbar-thumb:hover {
    background: #e2e4e0;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
}

/* #header h1{
    margin: 10px;
    font-family: "Tmon";
} */
#header nav {
    margin: 10px;
}

#header nav li {
    display: inline;
    position: relative;
}

#header nav li a {
    width: 30px;
    height: 30px;
    border: 1px solid var(--htmlColor);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

#header nav li.active a {
    background-color: var(--htmlColor);
    color: #fff;
}

#header nav li .sub {
    position: absolute;
    left: 0;
    top: 35px;
    width: 400px;
}

#header nav li .sub li a {
    width: auto;
    background-color: transparent;
    color: var(--htmlColor);
    border: 0;
    text-align-last: left;
    line-height: 1.2;
}

#header nav li .sub li.active a {
    text-decoration: underline;
}

/* main */
#main {
    margin: 50px 10px;
    position: relative;
    z-index: 1000;
}

/* search__wrap */
.search__wrap {
    max-width: 1400px;
    margin: 0 auto;
    border: 3px solid var(--htmlColor);
    border-radius: 20px;
    background-color: #f1f3f6;
    padding: 30px;
    text-align: center;
}

@media(max-width:600px) {
    .search__wrap {
        padding: 20px;
    }

    .search__wrap>h1 {
        font-size: 44px;
    }

    .search__box input {
        font-size: 16px;
        padding: 12px 30px;
    }

    .search__wrap>span {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.search__wrap>span {
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.search__wrap>h1 {
    font-family: "Tmon";
    font-size: 6vw;
    color: var(--htmlColor);
    margin-bottom: 10px;
    white-space: nowrap;
}

.search__box {
    position: relative;
    margin-bottom: 20px;
}

.search__box label {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden
}

.search__box input {
    border: 2px solid var(--htmlColor);
    padding: 15px 50px;
    width: 70%;
    border-radius: 50px;
    font-size: 20px;
}

.search__list {}

.search__list li {
    text-align-last: left;
    line-height: 1.7;
}

.search__list li.hide {
    display: none;
}

.search__list li.hide.show {
    display: block;
}

.search__list span {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    margin: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.search__list span:hover {
    background-color: var(--htmlColor);
    color: #fff;
}

.search__list li em {
    float: right;
    font-style: normal;
}

.search__list .line {
    margin-top: 50px;
}

.search__list .line li {
    background: #e3eaf5;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.search__list .line li:hover {
    background: #d7e0f0;
}

.search__info {
    text-align: right;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px dashed var(--htmlColor);
}

.search__info.center {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 40px;
}

.search__info .type {
    text-align: center;
    margin-bottom: 10px;
}

.search__info .keyword {
    text-align: center;
    margin-bottom: 10px;
}

.search__info .keyword span {
    border: 2px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 14px;
}

.search__info .keyword span:hover {
    background-color: var(--htmlColor);
    color: #fff;
    cursor: pointer;
}

.search__info .keyword span.active {
    background-color: var(--htmlColor);
    color: #fff;
}

.search__desc {
    border: 2px solid var(--htmlColor);
    padding: 20px 40px 20px 75px;
    margin-bottom: 50px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    background-color: var(--htmlColor);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.958L21.5 21.958' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-size: 50px 30px;
}

.search__click {
    margin-bottom: 30px;
}

.search__click li {
    display: inline;
}

.search__click li a {
    display: inline-block;
    border: 1px solid var(--htmlColor);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px 0;
}

.search__click li a:hover {
    background-color: var(--htmlColor);
    color: #fff;
}

.search__wrap .time {
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    background: var(--htmlColor);
    margin-top: 20px;
}

.search__wrap .time span {
    color: #fff;
    font-size: 34px;
    font-weight: 100;
}

.search__box .start {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #223547;
    width: 30%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    color: #fff;
    cursor: pointer;
}

.search__box input {
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    width: 30%;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;
}

.search__box .start {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: #223547;
    width: 40%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid var(--htmlColor);
    padding: 15px 40px;
    color: #fff;
    cursor: pointer;
}

.search__wrap .desc {
    line-height: 1.4;
}

.search__answers {
    border-bottom: 2px dashed var(--htmlColor);
    padding-bottom: 40px;
}

.search__answers span {
    display: inline-block;
    background: var(--htmlColor);
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin: 3px;
    cursor: pointer;
}

.search__missAnswers {
    border-bottom: 2px dashed var(--htmlColor);
    padding: 40px 0;
}

.search__missAnswers span {
    display: inline-block;
    border: 1px solid var(--htmlColor);
    color: var(--htmlColor);
    padding: 10px 20px;
    border-radius: 30px;
    margin: 3px;
}

.search__audio {
    margin-bottom: 10px;
    cursor: pointer;
}

.search__audio .play {
    display: none;
}

.search__result {
    position: fixed;
    left: 48%;
    top: 10vh;
    margin-left: -20vw;
    transform: scale3d(0,0,0);
    width: 45vw;
    height: 45vw;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #4a0433;
    font-size: 1.4vw;
    background-color: #fff;
}

.search__result.show {
    animation: rubberBand 1s 0.6s ease forwards;
    display: flex;
}

.search__result .result {
    margin-top: 30px;
    font-size: 1.5vw;
    line-height: 1.5;
}

.search__result .restart,
.search__result .refresh {
    background: #000;
    color: #fff;
    border: 0;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

@keyframes rubberBand {
    from {
        transform: scale3d(0.5, 0.5, 0.5);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/* footer */
#footer {
    position: relative;
    z-index: 2000;
    text-align: center;
}

#footer a {
    color: #000;
    padding-bottom: 50px;
}

#footer a:hover {
    text-decoration: underline;
}

/* modal */
/* modal__wrap */
.modal__wrap {
    position: relative;
}

.modal__btn {
    color: rgb(233, 23, 23);
    border: 1px solid rgb(229, 93, 93);
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 250px;
    bottom: -8px;
    cursor: pointer;
    transition: color 0.3s, background 0.3s;
    background: #000;
}

.modal__btn:hover {
    background: #fff;
    color: #727eff;
}

/* 
    요소를 안보이게 하는 방법
    1. display : none; (애니메이션 불가능, 영역 없음)
    2. opacity : 0; (애니메이션 가능, 영역 있음)
    3. visible : hidden; (애니메이션 불가능, 영역 없음)
    4. width 0; height : 0; (애니메이션 불가능, 영역 없음) (블라인드 효과)
    5. trasnform : scale(0) (애니메이션 가능, 영역 없음)
*/

.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    text-align-last: left;
}

.modal__box {
    width: 70%;
    height: 70vh;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
    transform: scale(0);
    background-color: #fff;
    position: absolute;
    top: 60px;
}

.modal__box .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 50px 32px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.modal__box .title button {
    margin-left: 10px;
}

.modal__box .title .tabs {
    display: flex;
}

.modal__box .title .tabs>div {
    color: #fff;
    background-color: #282936;
    padding: 0.35rem 0.8rem 0.25rem 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal__box .title .tabs>div em {
    font-style: normal;
}

.modal__box .title .tabs>div.active {
    background-color: #1f224a;
    color: #727eff;
}

.modal__box .title .tabs>div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}

.modal__box .title .tabs>div .close {
    margin-left: 4rem;
    color: #fff;
}

.modal__box .cont {
    /* background-color: #282936; */
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.modal__box .cont>div {
    display: none;
    height: inherit;
}


.modal__box .cont div.active {
    display: block;
    height: 100%;
    font-family: 'NexonLv1Gothic';
}

.modal__box .footer {
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    gap: 12px;
    position: relative;
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: -173px;
    border-radius: 5px;
}

.modal__box .footer:after {
    content: "";
    display: block;
    position: absolute;
    top: -51px;
    left: 24px;
    right: 24px;
    height: 50px;
    flex-shrink: 0;
    pointer-events: none;
}

.button {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease;
}

.button.is-ghost:hover,
.button.is-ghost:focus {
    background-color: #dfdad7;
}

.button.is-primary {
    background-color: #750550;
    color: #fff;
}

.button.is-primary:hover,
.button.is-primary:focus {
    background-color: #4a0433;
}

.icon-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.15s ease;
}

.icon-button svg {
    width: 24px;
    height: 24px;
}

.icon-button:hover,
.icon-button:focus {
    background-color: #dfdad7;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px hsl(180deg, 2%, 10%);
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}

.modal__close:hover {
    background-color: #292c61;
}

.modal__close svg {
    color: #fff;
}

/* modal animation */
.modal__cont.show {
    /* 전체 배경 */
    animation: foldOut 1s ease forwards;
}

.modal__cont.show.hide {
    /* 전체 배경 닫기 */
    animation: foldIn 1.5s 1s ease backwards;
}

.modal__cont.show .modal__box {
    /* 스크립트 박스 */
    transform: scale(0);
    animation: zoomOut 0.5s 1s ease forwards;
}

.modal__cont.show.hide .modal__box {
    /* 스크립트 박스  닫기*/
    animation: zoomIn 1s ease forwards;
}

.modal__cont.show .modal__close {
    /* 닫기 버튼 */
    animation: opacityOut 0.5s 1.5s ease forwards;
}

.modal__cont.show.hide .modal__close {
    /* 닫기 버튼 닫기*/
    animation: opacityIn 0.1s ease forwards;
}

@keyframes foldOut {
    0% {
        transform: scaleX(0) scaleY(0.005);
    }

    50% {
        transform: scaleX(1) scaleY(0.005);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes foldIn {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    50% {
        transform: scaleX(1) scaleY(0.005);
    }

    100% {
        transform: scaleX(0) scaleY(0.005);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes opacityOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media(max-width:1100px) {
    .modal__box .title {
        overflow: hidden;
    }

    .modal__box .title .dot {
        display: none;
    }

    .modal__box .title .tabs {
        margin-left: 0;
    }

    .modal__box .title .tabs>div .close {
        display: none;
    }
}

.hljs {
    color: #f5f5f5 !important;
    background: linear-gradient(to bottom, #080808 0%, #363E45 100%) !important;
}