/* slider */
.slider__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__img {
    /* 이미지 보이는 영역 */
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider__inner {
    /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    width: 3868px;
    display: flex;
}

.slider {
    /* 개별적인 이미지 */
    position: relative;
    height: 450px;
}

.slider img{
    width: 1000px;
}

.slider::before {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: rgba(143, 142, 142, 0.4);
    color: #fff;
    padding: 5px 10px;
}

.slider:nth-child(1)::before {
    content: '이미지1';
}

.slider:nth-child(2)::before {
    content: '이미지2';
}

.slider:nth-child(3)::before {
    content: '이미지3';
}

.slider:nth-child(4)::before {
    content: '이미지1';
}
